.footer {
  background: var(--footer-bgc);
}
.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-block {
  padding-right: 70px;
}
.footer address {
  padding-top: 20px;
}

.list-address:not(:last-child) {
  padding: 0px;
  margin-bottom: 9px;
}

.contacts,
.contacts:visited {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.address,
.address:visited {
  color: var(--accent-text-color);
}
.heading-dark-fon {
  color: var(--accent-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}