// for footer

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover > svg,
  &:focus > svg {
    fill: var(--accent-text-color);
    background-color: var(--hover-text-color);
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;

  fill: var(--fill-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .social-cont-link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;

//   border-radius: 50%;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
// .social-contacts-icon:hover,
// &:focus,
// .social-contacts-icon:focus {
//   fill: var(--accent-text-color);
//   background-color: var(--hover-text-color);
// }
// }
.social-contacts-icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-text-color);
}

// .social-contacts-item:not(:last-child) {
//   margin-right: 10px;
// }
// for team
